.sdx-image-uploader .fileinput-button {
  margin-bottom: 1em;
}
.sdx-image-uploader .images .image {
  margin-right: 1em;
}
.sdx-image-uploader .images .image .header {
  margin-bottom: 5px;
}
.sdx-image-uploader .progress {
  height: 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
