@import "compass";

.sdx-image-uploader{
  .fileinput-button{
    margin-bottom: 1em;
  }

  .images{
    .image{
      margin-right: 1em;
      .header{
        margin-bottom: 5px;
      }
    }
  }

  .progress{
    height: 10px;
    margin-bottom: 12px;
    @include opacity(0)
  }
}
