// 画面が小さくても全てのカラムを表示可能なレスポンシブなリスト。
// デフォルトではカラムの幅は内容物に合わせますので縦がそろいません。
// 幅を個別に指定するかBootstrap等のgrid systemを指定すると綺麗になります。
/*<ul id="access-list" class="resplist resplist-striped">
  <li class="resplist-row">
    <div class="resplist-heading">Some Title</div>
    <div class="resplist-items">
      <div class="resplist-item resplist-item-xs">
        <div class="resplist-label">ID</div>
        <div class="resplist-value">1</div>
      </div>
      <div class="resplist-item resplist-item-md">
        <div class="resplist-label">Name</div>
        <div class="resplist-value">Micheal Jackson</div>
      </div>
      <div class="resplist-item resplist-item-md">
        <div class="resplist-label">Born</div>
        <div class="resplist-value">1958/8/29</div>
      </div>
      <div class="resplist-item resplist-item-md">
        <div class="resplist-label">Died</div>
        <div class="resplist-value">2009/6/25</div>
      </div>
      <div class="resplist-item resplist-item-md">
        <div class="resplist-label">Occupations</div>
        <div class="resplist-value">Musician, singer-songwriter, arranger, dancer, entertainer, choreographer, actor, businessman, philanthropist</div>
      </div>
      <div class="resplist-item pull-right">
        <div class="resplist-value">
          <div class="btn-group">
            <a href="#" class="btn btn-primary">編集</a>
          </div>
          <div class="btn-group">
            <button class="btn btn-default up-button"><i class="icon-chevron-up"></i></button>
            <button class="btn btn-default down-button"><i class="icon-chevron-down"></i></button>
          </div>
          <div class="btn-group">
            <button type="submit" class="btn btn-danger delete-button"><i class="icon-remove"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="resplist-footer">Some Footer</div>
  </li>
</ul>*/

%clearfix{
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

$resplist_background: #fff !default;
$resplist_background_odd: #f9f9f9 !default;
$row_hspace: 20px;
$row_vspace: 8px;

ul.resplist{
  list-style: none;
  padding: 0;
}

.resplist-striped .resplist-row:nth-child(odd){
  background-color: $resplist_background_odd;
}

.resplist-heading{
  font-weight: bold;
  padding:$row_vspace $row_hspace;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px dotted #dfdfdf;
  max-width: 100%;
}

.resplist-footer{
  padding:$row_vspace $row_hspace;
}

.resplist-items{
  @extend %clearfix;
}


.resplist-label{
  overflow: hidden;
  white-space: nowrap;
  font-size: 11px;
  color: #888;
  display: table;
  padding: 0 $row_hspace;
  height: 15px;
  line-height: 15px;
}

.resplist-label-hidden{
  background-color: transparent;
}

.resplist-value{
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  padding: 0 $row_hspace;
  height: 38px;
  display: table-cell;
  vertical-align: middle;
}

.resplist-label + .resplist-value{
  height: 22px;
  line-height: 22px;
}

.resplist-item{
  float: left;
  max-width: 100%;
  margin: $row_vspace 0;
  padding: 0;
  overflow: hidden;
  @extend %clearfix;

}

.resplist-row{
  background-color: $resplist_background;
  border-top: 1px solid #dddddd;
  @extend %clearfix;
  padding: 0;
}

.resplist-item-xs{
  width: 60px;
}

.resplist-item-sm{
  width: 120px;
}

.resplist-item-md{
  width: 180px;
}

.resplist-item-lg{
  width: 240px;
}


@media (max-width: 768px) {
  $row_hspace: 12px;
  $row_vspace: 8px;
  .resplist-heading{
    padding:$row_vspace $row_hspace;
  }

  .resplist-footer{
    padding:$row_vspace $row_hspace;
  }

  .resplist-item{
    margin: $row_vspace 0;
  }

  .resplist-label{
    padding: 0 $row_hspace;
  }

  .resplist-value{
    padding: 0 $row_hspace;
  }
}