@import "resplist.scss";
@import "imageUploader.scss";

.page-number{
  font-weight: bold;
  color: #888;
  display: inline-block;
  padding: 0 10px;
  .current{
    color: #333;
  }
}

.notice{
  color: #8a6d3b;
}

.sdx-has-error{
  list-style: none;
  color: #a94442;
  font-weight: bold;
  padding: 0;
}

.auto-current{
  margin-top: 0;
  margin-bottom: 0;
}
